/build
/sdkconfig.old
/RemoteSystemsTempFiles
/main/include/device_settings.h
/Link_to_ESP8266_Shutters_workspace/.metadata/.plugins/org.eclipse.rse.core/*.log
/Link_to_ESP8266_Shutters_workspace/.metadata/.plugins/org.eclipse.cdt.core/*.log
/Link_to_ESP8266_Shutters_workspace/.metadata/.plugins/org.eclipse.cdt.ui/*.log
/Link_to_ESP8266_Shutters_workspace/.metadata/.plugins/org.eclipse.core.resources/.history
/Link_to_ESP8266_Shutters_workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/ESP8266_Shutters/.indexes
/Link_to_ESP8266_Shutters_workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles
/Link_to_ESP8266_Shutters_workspace/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide
/Link_to_ESP8266_Shutters_workspace/.metadata/.plugins/org.eclipse.cdt.core/*.pdom
/Link_to_ESP8266_Shutters_workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring
/Link_to_ESP8266_Shutters_workspace/.metadata/*.log
/Link_to_ESP8266_Shutters_workspace/.metadata/.plugins/org.eclipse.core.resources/.root/*.tree
/Link_to_ESP8266_Shutters_workspace/.metadata/.plugins/org.eclipse.ui.workbench.texteditor
/Link_to_ESP8266_Shutters_workspace/.metadata/version.ini
